{# grad_drupal_common_footer/templates/grad_drupal_common_footer.html.twig #}
<div class="content h-100 row d-flex flex-wrap field field--name-field-az-cards field--type-az-card field--label-hidden field__items">
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 pb-4 field__item">
    <div class="card card-borderless bg-transparent h-100">
      <div class="card-body d-flex flex-column">
        <div class="card-text">
          <p class="text-align-center">
            <a class="font-weight-bold small text-decoration-none" href="https://grad.arizona.edu/admissions">Graduate Admissions</a><br>
            <a class="font-weight-bold small text-decoration-none" href="https://grad.arizona.edu/gsas">Degree Services</a><br>
            <a class="font-weight-bold small text-decoration-none" href="https://grad.arizona.edu/funding">Funding Resources</a><br>
            <a class="font-weight-bold small text-decoration-none" href="https://grad.arizona.edu/policies">Policies</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-4 col-lg-4 pb-4 field__item">
    <div class="card card-borderless bg-transparent h-100">
      <div class="card-body d-flex flex-column">
        <div class="card-text">
          <p class="text-align-center">
            <a class="font-weight-bold small text-decoration-none" href="https://gradcenter.arizona.edu/">The Graduate Center</a><br>
            <a class="font-weight-bold small text-decoration-none" href="https://apply.grad.arizona.edu/">GradApp (Future Students)</a><br>
            <a class="font-weight-bold small text-decoration-none" href="https://grad.arizona.edu/gradpath">GradPath (Current Students)</a><br>
            <a class="font-weight-bold small text-decoration-none" href="https://grad.arizona.edu/contact">Contact Us</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-4 col-lg-4 pb-4 field__item">
    <div class="card card-borderless bg-transparent h-100">
      <div class="card-body d-flex flex-column">
        <div class="card-text">
          <form class="search-form" accept-charset="UTF-8" method="GET" action="https://grad.arizona.edu/tools/search">
            <div class="input-group">
              <label for="grad-common-search" class="sr-only visually-hidden">Search</label>
              <input id="grad-common-search" name="q" class="form-control" type="text" title="Search all GRAD websites" aria-label="Search all GRAD websites" aria-describedby="search-help" placeholder="Search all GRAD websites" onfocus="this.placeholder=''" onblur="this.placeholder='Search all GRAD websites'">
              <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper input-group-append" id="edit-actions">
                <button class="border-0 btn btn-red button form-submit pl-2 pr-2" type="submit" id="search-button">
                  <span id="search-help" class="sr-only visually-hidden">Search all Graduate College websites</span>
                  <span class="pl-1 pr-1 material-icons-sharp">search</search>
                  <!-- <span class="pl-1 pr-1 pb-0 rounded-start-0 material-symbols-rounded">search</search> -->
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
